



{% extends 'base.html' %}




{% load static %}

{% block content %}






        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6 col-12"> 
                  <h2>My Documents</h2>
                </div>
        
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row"> 
              <div class="col-sm-12"> 
                <div class="card"> 
                  <div class="card-body">
                    <div class="list-product-header">
                      <div> 
                      </div>
                      <div class="collapse" id="collapseProduct">
                        <div class="card card-body list-product-body">
                          <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2 g-3"> 
                         
                    
                      
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="list-product list-category">
                      <table class="table" id="project-status">
                        <thead> 
                          <tr> 
                            <th>


                              <!-- <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div> -->


                            </th>
                            <th> <span class="f-light f-w-600">Document</span></th>
                            <th> <span class="f-light f-w-600">Title</span></th>
                            <th> <span class="f-light f-w-600">Time</span></th>
                            <th> <span class="f-light f-w-600">Action</span></th>
                          </tr>
                        </thead>
                        <tbody> 
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/1.png" alt="t-shirt"/></div>
                                <p>T-Shirts</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Special PriceGet at flat ₹229</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Clothing</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/1.png" alt="shoes"/></div>
                                <p>Shoes</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Up to ₹300, on orders of ₹1750 and above T&C</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Footwear</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/2.png" alt="hand bags"/></div>
                                <p>Handbags</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Passed 30+ quality checks performed by experts for Comfort & Design.</p>
                            </td>
                            <td> <span class="badge badge-light-secondary">Accessories</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/product-categories/1.png" alt="chairs"/></div>
                                <p>Chairs</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Passed 30+ quality checks performed by experts for Comfort & Design.</p>
                            </td>
                            <td> <span class="badge badge-light-secondary">Accessories</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/3.png" alt="toys"/></div>
                                <p>Toys</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Assembling Shape Educational Toys (Multicolor)</p>
                            </td>
                            <td> <span class="badge badge-light-success">Electronic</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/4.png" alt="slipper"/></div>
                                <p>Slipper</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Easy to wear and comfortable slip on slippers</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Footwear</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/5.png" alt="camera"/></div>
                                <p>Cameras</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Our computers and tablets include all the big brands.</p>
                            </td>
                            <td> <span class="badge badge-light-success">Electronic</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/2.png" alt="t-shirt"/></div>
                                <p>T-Shirts</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Special PriceGet at flat ₹100</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Clothing</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/product-categories/watch.png" alt="watch"/></div>
                                <p>Watches</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Experience luxury and precision with our meticulously crafted timepieces</p>
                            </td>
                            <td> <span class="badge badge-light-success">Electronic</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/12.png" alt="t-shirt"/></div>
                                <p>T-Shirts</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Special PriceGet at flat ₹300</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Clothing</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/1.png" alt="shoes"/></div>
                                <p>Shoes</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Up to ₹300, on orders of ₹1750 and above T&C</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Footwear</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/3.png" alt="toys"/></div>
                                <p>Toys</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Assembling Shape Educational Toys (Multicolor)</p>
                            </td>
                            <td> <span class="badge badge-light-success">Electronic</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/4.png" alt="slipper"/></div>
                                <p>Slipper</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Easy to wear and comfortable slip on slippers</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Footwear</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/5.png" alt="camera"/></div>
                                <p>Cameras</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Our computers and tablets include all the big brands.</p>
                            </td>
                            <td> <span class="badge badge-light-success">Electronic</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/product-categories/watch.png" alt="watch"/></div>
                                <p>Watches</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Experience luxury and precision with our meticulously crafted timepieces</p>
                            </td>
                            <td> <span class="badge badge-light-success">Electronic</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/1.png" alt="t-shirt"/></div>
                                <p>T-Shirts</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Special PriceGet at flat ₹229</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Clothing</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/1.png" alt="shoes"/></div>
                                <p>Shoes</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Up to ₹300, on orders of ₹1750 and above T&C</p>
                            </td>
                            <td> <span class="badge badge-light-primary">Footwear</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/category/2.png" alt="hand bags"/></div>
                                <p>Handbags</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Passed 30+ quality checks performed by experts for Comfort & Design.</p>
                            </td>
                            <td> <span class="badge badge-light-secondary">Accessories</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                          <tr class="product-removes">
                            <td>
                              <div class="form-check"> 
                                <input class="form-check-input checkbox-primary" type="checkbox"/>
                              </div>
                            </td>
                            <td> 
                              <div class="product-names">
                                <div class="light-product-box"><img class="img-fluid" src="../assets/images/product/product-categories/1.png" alt="chairs"/></div>
                                <p>Chairs</p>
                              </div>
                            </td>
                            <td> 
                              <p class="f-light">Passed 30+ quality checks performed by experts for Comfort & Design.</p>
                            </td>
                            <td> <span class="badge badge-light-secondary">Accessories</span></td>
                            <td> 
                              <div class="product-action">
                                <svg>    
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#edit-content"></use>
                                </svg>
                                <svg>
                                  <use href="https://admin.pixelstrap.net/admiro/assets/svg/icon-sprite.svg#trash1"></use>
                                </svg>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
        </div>
   
      </div>





  

  




    {% endblock %}



